.ModifyProduct {
  background-color: yellow;
}

.newColName {
  outline: none;

  border: 2px solid rgba(204, 204, 204, 0.582);

  background-color: transparent;
  margin: 0 12px;
  line-height: 1.8;
  border-radius: 3px;
}

.newColName:active,
.newColName:focus {
  border-color: #999;
}
.newColName:empty() {
  border-color: #999;
}
.container {
  overflow: scroll;
  padding: 3px 8px;
  border: 2px solid #a5a5a5;
  margin: 6px;
  margin-top: 16px;
  box-shadow: 1px 1px 1px rgb(145, 145, 145);
  border-radius: 3px;
}
.flxContainer {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  align-items: baseline;
}

.customRoundStyle {
  box-shadow: 0px 0px 3px #bbbbbb;
  padding: 8px 16px;
  border-radius: 3px;
  margin: 12px auto;
}

.customRoundStyle2 {
  border-radius: 30px;
  padding: 3px 10px;
/*    border-bottom: 2px solid #7db486;
  border-top: 2px solid #7db486;
  border-right: 2px solid #7db486;
  border-left: 2px solid #7db486; */
  border : 1px solid rgb(147, 156, 139);
  display: inline-block;
  margin: 6px 12px;
}
.hoverPlus:hover {
  background-color: thistle;
}
.hoverPlus:hover::before {
  content: "+";
  background-color: blue;
  border-radius: 120px;
  width: 120px;
  height: 120px;
  position: relative;
  opacity: 1;
}
.hoverPlus::before {
  content: "+";
  background-color: blue;
  border-radius: 120px;
  width: 120px;
  height: 120px;
  position: relative;
  opacity: 0;
}
.bgGrey {
  background-color: rgba(216, 216, 216, 0.651);
  border-radius: 3px;
  border: 1px solid #bbb;
}
