.AddProduct {
  /*   background-color: rgb(192, 194, 188); */
  box-shadow: 0px 0px 3px #adabad;
  padding: 12px 16px;
  border-radius: 3px;
  text-align: center;
}
.root {
  background-color: chartreuse;
  width: 50% !important;
  margin: 0 auto !important;
  direction: rtl !important;
  height: 200px !important;
}
.title {
  display: inline-block;
  margin-bottom: 18px;
}
.inputRoot {
  color: rgb(255, 255, 255);
  direction: rtl;
  text-align: right;
  background-color: aquamarine;
  /*   position: relative;
  width: 50% !important;
  margin: 0 auto !important; */
}

.inputColor {
  background-color: aquamarine !important;
}
.label {
  top: 6px;
  background-color: #fff;
}
.inputRoot {
  background-color: rgb(255, 238, 0);
  height: 25px;
}
.popperA {
  background-color: red;
}
.paper {
  background-color: green;
}
.listbox {
  background-color: chartreuse;
  direction: rtl;
}
.clearIndicator {
  background-color: coral;
}
.endAdornment {
  background-color: coral;
}

.input {
  /*   height: 25px !important;
 */
}
