.AddProduct {
  /*   background-color: rgb(192, 194, 188); */
  box-shadow: 0px 0px 3px #adabad;
  padding: 12px 16px;
  border-radius: 3px;
  text-align: center;
}

.title {
  display: inline-block;
  margin-bottom: 18px;
}
.AutoCompelete {
  direction: rtl;
  text-align: right;
}
